/silverstripe-cache/
/.env


!/vendor
/vendor/*
!/vendor/silverstripe
/vendor/silverstripe/*
!/vendor/silverstripe/cms
/vendor/silverstripe/cms/*
!/vendor/silverstripe/cms/code
/vendor/silverstripe/cms/code/*
!/vendor/silverstripe/cms/code/controllers
/vendor/silverstripe/cms/code/controllers/*
!/vendor/silverstripe/cms/code/controllers/CMSPageSettingsController.php
!/vendor/silverstripe/cms/code/controllers/CMSPageAddController.php

/node_modules/
/themes/simple/
/_resources/
/public/_resources/
/.graphql-generated/
/public/_graphql/
