/silverstripe-cache/
/.env
!/vendor
/vendor/*
!/vendor/silverstripe/cms/code/Controllers/CMSPageSettingsController.php
/node_modules/
/themes/simple/
/_resources/
/public/_resources/
/.graphql-generated/
/public/_graphql/
