.tabs li a h3, main a {
  color: #345428;
}
.tabs li a h3:hover, main a:hover, .tabs li a h3:focus, main a:focus {
  color: #405185;
}

.tabs-content .button {
  margin: 1rem 0 0 0;
  color: #2b241d;
  background-color: rgba(75, 124, 106, 0.5);
}
.tabs-content .button:hover, .tabs-content .button:focus {
  background-color: rgba(78, 127, 61, 0.5);
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("./Fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("./Fonts/OpenSans-Regular.ttf");
}
/* template */
body {
  margin: auto;
  position: relative;
  font-family: OpenSans-Regular;
}
body::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  background-blend-mode: screen;
  opacity: 0.75;
  background-color: rgba(225, 202, 111, 0.075);
  background-image: url(../images/template/body-mobile.jpg);
  background-position: center top;
  background-size: contain;
}
@media screen and (min-width: 64em) {
  body::before {
    background-image: url(../images/template/body.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-family: OpenSans-Regular;
}

h2 {
  margin: 1rem auto;
  color: #463b2f;
  font-family: Montserrat-Regular;
  font-style: oblique;
  text-shadow: 0 0 2.5px #2b241d;
}
@media screen and (min-width: 40em) {
  h2 {
    margin: 50px auto;
  }
}

h3,
h4,
h5 {
  font-family: OpenSans-Regular;
  color: #463b2f;
}

main {
  min-height: 88vh;
}
@media screen and (min-width: 1921px) {
  main {
    width: 1920px;
    margin: auto;
    box-shadow: 1px 0 rgba(43, 36, 29, 0.2), -1px 0 rgba(43, 36, 29, 0.2);
  }
}
@media screen and (min-width: 40em) {
  main > * {
    margin-bottom: 50px;
  }
}
main i {
  color: #2b241d;
}

@media screen and (min-width: 1921px) {
  main.grid-container {
    box-sizing: content-box;
    padding: 0 360px;
  }
}

.top-bar {
  background-image: url(../images/template/paper.png);
  background-color: #e1ca6f;
  background-blend-mode: screen;
}
@media screen and (min-width: 1921px) {
  .top-bar .top-bar-right {
    margin: auto calc(50vw - 960px) auto auto;
  }
}
.top-bar .top-bar-right ul {
  background: transparent;
}
.top-bar .top-bar-right ul li a {
  color: #2b241d;
  padding: 0.5rem;
}
.top-bar .top-bar-right ul li a:hover, .top-bar .top-bar-right ul li a:focus {
  color: #f8f8ff;
}
@media screen and (min-width: 1921px) {
  .top-bar .top-bar-left {
    margin: auto auto auto calc(50vw - 960px);
  }
}
.top-bar .top-bar-left #my-svg {
  display: inline-block;
  width: 235px;
  height: 100px;
}

.color {
  color: #2b241d;
}

.title-bar {
  background-image: url(../images/template/paper.png);
  background-blend-mode: screen;
  background-color: #e1ca6f;
  position: relative;
  z-index: 1;
}
.title-bar .title-bar-title {
  height: 50px;
  color: #f8f8ff;
  font-size: 16px;
}
.title-bar .title-bar-title i {
  position: absolute;
}
.title-bar .title-bar-title i:hover, .title-bar .title-bar-title i:focus {
  color: #2b241d;
}
.title-bar #my-svg-m {
  display: inline-block;
  width: 50px;
  height: 50px;
}

footer {
  background-image: url(../images/template/paper.png);
  background-blend-mode: screen;
  padding: 15px 0 0 0;
  background-color: #d9bc49;
  color: #2b241d;
  position: relative;
  z-index: 1;
}
footer .menu li a {
  color: #2b241d;
  padding: 0.5rem;
}
footer .menu li a:hover, footer .menu li a:focus {
  color: #f8f8ff;
}
footer::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-image: url(../images/template/washi.png);
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 1921px) {
  footer > ul.no-bullet {
    margin: auto auto auto calc(50vw - 960px);
  }
}
footer ul + ul.no-bullet {
  font-size: smaller;
}
@media screen and (min-width: 1921px) {
  footer ul + ul.no-bullet {
    margin: auto calc(50vw - 960px) auto auto;
  }
}

/* contact */
.tabs {
  background: transparent;
  border: none;
  padding: 0 0 1rem 0;
  box-shadow: 0 1px rgba(43, 36, 29, 0.1);
}
.tabs li {
  background-color: rgba(97, 97, 97, 0.1);
  background-image: url(../images/template/paper.png);
  background-blend-mode: screen;
}
.tabs li a {
  padding: 1%;
}
.tabs li a h3 {
  font-size: initial;
  margin: 0;
  padding: 0;
}
.tabs .tabs-title > a[aria-selected=true] {
  background: rgba(97, 97, 97, 0.1);
}

.tabs-content {
  background: transparent;
  border: none;
  transition: none;
}
.tabs-content .is-active {
  padding: 1rem 0;
}
.tabs-content textarea {
  resize: none;
}
.tabs-content legend {
  color: #2b241d;
}

#main form input,
#main form textarea {
  background-image: url(../images/template/paper.png);
}
#main form input[type=submit] {
  width: 80px;
}
#main form input[type=submit]:disabled {
  opacity: 1;
}
#main form textarea {
  appearance: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #e1ca6f rgba(97, 97, 97, 0.25);
  scrollbar-width: thin;
}
#main form textarea::-webkit-scrollbar {
  width: 7px;
}
#main form textarea::-webkit-scrollbar-thumb, #main form textarea:hover::-webkit-scrollbar-thumb, #main form textarea:focus::-webkit-scrollbar-thumb {
  background: #e1ca6f;
}
#main form textarea::-webkit-scrollbar-track {
  background: rgba(97, 97, 97, 0.25);
}
blockquote,
cite {
  color: #414141;
}

/*# sourceMappingURL=contact.css.map */
