$color1: #2b241d;
$color2: #566CAE;
$color3: #e1ca6f;
$color4: #4B7C6A;
$color5: #4E7F3D;
$color6: #616161;

$white: #f8f8ff;

$transparent: transparent;

@import "partials/breakpoints";
@import "partials/functions&mixins";  
@import "partials/placeholders";
@import "partials/typography";

@import "template/styles";
