@import "variables";
/* home */
main > section {
  @include setbox(null, null, null, auto auto 4.1vh auto);
}

.hover {
  @include setbox(null, null, null, 1rem auto);
  box-shadow: 0 -1px rgba($color1, 0.1);
  @include large_and_up {
    @include setbox(null, null, null, 8.2vh auto 24.6vh auto);
    box-shadow: 0 1px rgba($color1, 0.1), 0 -1px rgba($color1, 0.1);
  }
  .is-active > a,
  .tabs-title > a[aria-selected="true"],
  .tabs-title > a:hover,
  .tabs-title > a:focus {
    background: transparent;
  }
  .hover-box {
    position: relative;
    *,
    &:before,
    &:after {
      box-sizing: border-box;
    }
    &:before,
    &:after {
      transition: transform 0.3s linear, border-width 0.3s linear;
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      z-index: -1;
      border: 2px solid darkShift($color1);
      border-color: transparent darkShift($color1);
    }
    img {
      transition: transform 0.3s linear, opacity 0.3s linear;
      border-radius: 50%;
      @include setbox(null, null, 9px, null);
      opacity: 0.7;
    }
    figcaption {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      border-radius: 50%;
    }
    h3 {
      position: absolute;
      background-image: url(../images/template/paper.png);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: lightShift($color1);
      font-size: 12px;
      @include medium_and_up {
        font-size: 15px;
      }
      @include setbox(null, null, 0 5%, null);
      font-weight: 600;
      background-color: lightShift($color3);
      border-radius: 16px;
    }
    &:hover img,
    &:focus img {
      opacity: 1;
      transform: scale(0.99);
    }
    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
      border-width: 10px;
    }
    &:hover:before,
    &:focus:before {
      transform: rotate(45deg);
    }
    &:hover:after,
    &:focus:after {
      transform: rotate(-45deg);
    }
  }
}

.tabs-content {
  background-color: $transparent;
  box-shadow: 0 -1px rgba($color1, 0.2);
  border: none;
  transition: none;
  @include box();
  .tabs-panel.is-active {
    min-height: 84vh;
    @include box();
    @include medium_and_up {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 66.7%;
        background-blend-mode: screen;
        opacity: 0.66;
        background-color: rgba($color3, 0.066);
        @include large_and_up {
          right: 75%;
        }
        bottom: 0;
        left: 0;
        background-image: url(../images/home/side-1.png);
        box-shadow: 1px 0 rgba($color1, 0.2);
      }
    }
  }
}

.sticky-ul {
  background-image: url(../images/home/side.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
  color: $color1;
  @include setbox(null, null, 1rem 1rem 0 1rem, null);
  font-size: 14px;
  font-weight: 600;
  @include medium_and_up {
    font-size: 16px;
    @include setbox(null, 221px, 1rem 1rem 0 1rem, null);
    position: sticky;
    top: 0;
  }
  @include large_and_up {
    font-size: 19px;
  }

  li {
    a {
      @include box();
      @extend %link;
    }
    &.last {
      font-size: 12.5px;
      color: darkShift($color6);
    }
  }
  .fi-list {
    font-size: 11px;
  }
}

section {
  h4 {
    color: $color1;
    @include box(1rem 2rem 0 0, null);
  }
  .top-link {
    position: sticky;
    top: 0;
    @include box(0 1.75rem 0 0, null);
    i {
      font-size: medium;
      color: darkShift($color4);
      &:hover,
      &:focus {
        color: $color3;
      }
    }
  }
  .gallery {
    @include box(null, 2.5rem);
    @include medium_and_up {
      @include box(null, 2.5rem 5rem);
    }
  }
}
