%link {
    color: lightShift($color5);
    &:hover,
    &:focus {
        color: lightShift($color2);
    }
}

%button {
    @include box(1rem 0 0 0, null);
    color: $color1;
    background-color: rgba($color4, 0.5);
    &:hover,
    &:focus {
        background-color: rgba($color5, 0.5);
    }
}
